
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    overflow: hidden;
    background-color: black;
  }
  
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 15px; 
    line-height: 0px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

    .header-right {
      float: left;
      padding-left: 340px;
  
    }
  
    img {
        float:left;
    }
  
    a {
      color: white;
      transition: background-color .5s;
    }
  
    
    a:hover {
      color: grey;
    }
    
